source/html/index.pug
doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header(class="pb-1")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0")
								div(class="d-flex align-items-end navbar_wrap_logo")
									a(class="navbar-brand d-flex align-items-end" href="#")
										img(class="lazyload" data-src="img/logo.svg" alt="logo")
										div(class="pl-2")
											span
												| Белый<br>Оконный<br>Сервис
								div(class="collapse navbar-collapse" id="navbar")
									ul(class="navbar-nav w-100 d-flex justify-content-center pt-5 pt-lg-0")
										li(class="active nav-item")
											a(class="nav-link" href="#Services")
												| Услуги
										li(class="nav-item")
											a(class="nav-link" href="#company")
												| О компании
										li(class="nav-item")
											a(class="nav-link" href="#works")
												| Наши работы
										li(class="nav-item")
											a(class="nav-link" href="#")
												| Контакты
								div(class="d-flex align-items-center")
									div(class="d-none d-lg-flex align-items-center")
										a(class="header__phone"  href="tel:89823125260")
											| 8 982 312 52 60
										button(class="btn btn_border_white ml-3 btn__flare_infinite" data-toggle="modal" data-target="#modalCall")
											| Заказать звонок
									button(class="navbar-toggler ml-3 " type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
										<svg class="burger" width="41" height="30" viewBox="0 0 41 30" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="41" height="2" rx="1" fill="#fff"/><rect y="14" width="41" height="2" rx="1" fill="#fff"/><rect y="28" width="41" height="2" rx="1" fill="#fff"/></svg>
			div(class="content")
				div(class="welcome")
					div(class="container h-100")
						div(class="row h-100 align-items-center")
							div(class="col-12 col-lg-6 p-lg-0")
								h1()
									| Ремонт окон ПВХ
								p(class="py-5")
									| После нас не надо переделывать
								button(class="btn btn__flare" data-toggle="modal" data-target="#modalCheck")
									| Заказать
							div(class="col-12 col-lg-6 py-4")
								img(class="lazyload img-fluid" data-src="img/win.png" alt="img")
					div(class="cloud")
				section(class="calc" id="Services")
					div(class="container")
						div(class="row")
							div(class="col-12 text-center")
								h2(class="pb-3")
									| Выберите свою неисправность
								p(class="description__short pb-3 pb-lg-0")
									| Выберите свою проблему и мы предложим вам решение
						form(class="row form form_submit")
							div(class="calc__first  col-12 col-lg-5 p-lg-0")
								div(class="calc__preview")
									img(class="lazyload img-fluid" data-src="img/win2.png" alt="img")
							div(class="calc__second col-12 col-lg-7 p-lg-0 d-flex justify-content-between")
								div(class="d-flex align-items-start justify-content-start flex-column pt-lg-4")
									label(class="btn_calc" data-img-src="" data-id="" data-price="2500")
										| Неисправность механизма
										input(type="checkbox" name="Neispravnostmekhanizma")
									label(class="btn_calc" data-img-src="img/mod/produvaet.png" data-id="3" data-price="100")
										| Продувает окно
										input(type="checkbox" name="produvaet")
									label(class="btn_calc" data-img-src="" data-id="" data-price="300")
										| Регулировка створки
										input(type="checkbox" name="regulirovkastvorki")
									label(class="btn_calc active" data-img-src="" data-id="" data-price="300")
										| Не поворачивается ручка
										input(type="checkbox" name="nepovorachivaetsyaruchka")
									label(class="btn_calc" data-img-src="" data-id="" data-price="300")
										| Замена ручки
										input(type="checkbox" name="zamenaruchki")
									label(class="btn_calc" data-img-src="img/mod/zamenasteklo.png" data-id="6" data-price="1400")
										| Замена стеклопакета
										input(type="checkbox" name="zamenasteklo")
									label(class="btn_calc" data-img-src="" data-id="" data-price="150")
										| Герметизация шва (откос, рама)
										input(type="checkbox" name="germetizaciyashva")
									label(class="btn_calc" data-img-src="img/mod/zapotevanie.png" data-id="7" data-price="1300")
										| Запотевание окна
										input(type="checkbox" name="zapotevanie")
								div(class="d-flex align-items-start justify-content-start flex-column pt-lg-4")
									label(class="btn_calc" data-img-src="img/mod/promerzanie.png" data-id="4" data-price="1300")
										| Промерзание окна
										input(type="checkbox" name="promerzanie")
									label(class="btn_calc" data-img-src="" data-id="" data-price="2000")
										| Замена подоконника
										input(type="checkbox" name="zamenapodokonnika")
									label(class="btn_calc" data-img-src="" data-id="" data-price="3000")
										| Замена откосов
										input(type="checkbox" name="zamenaotkosov")
									label(class="btn_calc active" data-img-src="" data-id="" data-price="200")
										| Шумоизоляция окна
										input(type="checkbox" name="shumoizolyaciyaokna")
									label(class="btn_calc" data-img-src="img/mod/ventilyatsiya.png" data-id="5" data-price="1500")
										| Установка вентиляционного клапана
										input(type="checkbox" name="ventilyatsiya")
									label(class="btn_calc" data-img-src="img/mod/detskizamok.png" data-id="1" data-price="900")
										| Детский замок
										input(type="checkbox" name="detskizamok")
									label(class="btn_calc" data-img-src="img/mod/holodniapodokonnik.png" data-id="2" data-price="1300")
										| Холодный подоконник
										input(type="checkbox" name="holodniapodokonnik")
									label(class="btn_calc" data-img-src="img/mod/setka.png" data-id="8" data-price="1000")
										| Москитная сетка
										input(type="checkbox" name="setka")
							div(class="calc__third col-12 d-flex justify-content-between")
								div(class="col-12 col-lg-8 pl-lg-0 pt-3 ")
									p
										| * Обращаем Ваше внимание на то, что стоимость на сайте примерная, так как все окна разные и к каждому нужен свой материал и объёмы материала.
									p
										| Чтобы узнать точную стоимость ремонта, запишитесь на <a href="#">бесплатный замер.</a>
								div(class="col-12 col-lg-4 d-flex flex-column justify-content-between p-0")
									div
										div(class="d-flex justify-content-between align-items-center pb-3")
											span(class="calc__value pr-3")
												| Итого:
											div(class="calc__price")
												span(class="calc__price__value")
													| 3 800 
												span
													| ₽*
										input(type="text" class="mb-4 mt-3" placeholder="Имя*")
										input(type="tel" class="mb-4" placeholder="Телефон*")
										div(class="d-flex align-items-start justify-content-center pt-3")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
											p( class="form__info")
												| Я согласен на обработку персональных данных в соответствие с 
												a(href="#" class="form__info")
													| политикой конфиденциальности
										div(class="d-flex justify-content-center w-100")
											button(class="btn btn__flare" type="submit" )
												| Записаться
						div(class="row fix pb-5")
							div(class="col-12")
								h2(class="text-center")
									| Безопасное окно
						div(class="fix_second row py-0 py-lg-5")
							div(class="fix_fir col-12 col-lg-6 pb-3 pb-lg-0")
								h3
									| Защитите своих детей,<br>установив защитный замок
								p
									|Дети любят сидеть у окна. Малыши обожают изучать окружающий мир, маленькие домики и машинки внизу, любят разглядывать людей, разноцветные зонтики, гуляющих собак. Происходящее за стеклом завораживает их и занимает на некоторое время. Дети постарше любят играть на подоконнике, сидеть на нем, рисовать на стеклах. С одной стороны, не хочется лишать детей такой радости, с другой стороны, нередко приходит в голову мысль: «Вдруг малыш выпадет из окна?»
								p
									| Компания БОС обеспечит безопасность вашему ребенку с помощью установки защитного замка. Окно будет закрываться на ключ и ребенок не сможет открыть его при всём желании. 
								button(class="btn btn__flare mt-5" data-toggle="modal" data-target="#modalWrite")
												| Записаться
							div(class="col-12 col-lg-6 fix_sec")
								img(class="lazyload img-fluid" data-src="img/baby.jpg" alt="img")
								p(class="pt-3")
									| Москитная сетка не убережет ребенка от падения. Никогда не позволяйте ребенку играть на подоконнике или рядом с открытым окном.
						//div(class="row py-5")
							div(class="col-12 col-lg-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10" )
								div(class="fix__item p-5 text-center d-flex flex-column align-items-center justify-content-between")
									div()
										img(class="lazyload img-fluid" data-src="img/window.svg" alt="img")
										span(class="d-block fix__header pt-3 pb-4")
											| Окна
									div
										ul
											li
												| Ремонт окон ПВХ
											li
												| Замена подоконника
											li
												| Замена стеклопакета
											li
												| Дует из окна
											li
												| Запотевание и замерзание
											li
												| Провисание створок
											li
												| Регулировка окон
										div(class="d-flex justify-content-center")
											button(class="btn btn__flare" data-toggle="modal" data-target="#modalEmail")
												| Связаться
							div(class="col-12 col-lg-4  wow slideInLeft" data-wow-duration="1s"  data-wow-offset="10")
								div(class="fix__item p-5 text-center d-flex flex-column align-items-center justify-content-between")
									div()
										img(class="lazyload img-fluid" data-src="img/window.svg" alt="img")
										span(class="d-block fix__header pt-3 pb-4")
											| Балконные двери
									div
										ul
											li
												| Ремонт окон ПВХ
											li
												| Замена подоконника
											li
												| Замена стеклопакета
											li
												| Дует из окна
											li
												| Запотевание и замерзание
											li
												| Провисание створок
											li
												| Регулировка окон
										div(class="d-flex justify-content-center")
											button(class="btn btn__flare" data-toggle="modal" data-target="#modalEmail")
												| Связаться
							div(class="col-12 col-lg-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10" )
								div(class="fix__item p-5 text-center d-flex flex-column align-items-center justify-content-between")
									div()
										img(class="lazyload img-fluid" data-src="img/window.svg" alt="img")
										span(class="d-block fix__header pt-3 pb-4")
											| Остекление от строителей
									div
										ul
											li
												| Ремонт окон ПВХ
											li
												| Замена подоконника
											li
												| Замена стеклопакета
											li
												| Дует из окна
											li
												| Запотевание и замерзание
											li
												| Провисание створок
											li
												| Регулировка окон
										div(class="d-flex justify-content-center")
											button(class="btn btn__flare" data-toggle="modal" data-target="#modalEmail")
												| Связаться
				section(class="")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2(class="py-5 text-center")
									| Сервисное обслуживание
						div(class="row")
							div(class="col-12 col-lg-6")
								img(class="lazyload img-fluid" data-src="img/win.jpg" alt="img")
							div(class="fix_second col-12 col-lg-6")
								h3
									| Защитите своих детей,<br>установив защитный замок
								p
									| Все виды окон рано или поздно изнашиваются и нуждаются в ремонте или замене. И так же, как профилактика – это залог здоровья, обнаружение дефектов окон и их устранение – залог их долгой службы и комфортной атмосферы в вашем доме и офисе. Если вам нужна установка и ремонт пластиковых окон в Челябинске, то самым лучшим решением станет обращение к нам
								span(class="d-block fix__price")
									| от 500 ₽
								button(class="btn btn__flare mt-5" data-toggle="modal" data-target="#modalCheck")
									| Заказать
				section(class="advantages")
					div(class="container")
						div(class="row pb-5")
							div(class="col-12")
								h2(class="text-center")
									| Наши преимущества
						div(class="row py-4")
							div(class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
								div(class="advantages__wrap h-100 d-flex align-items-start justify-content-center")
									div(class="advantages__item d-flex justify-content-center align-items-center")
										p
											| Бесплатное сервисное<br>обслуживание
							div(class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10")
								div(class="advantages__wrap h-100 d-flex align-items-start justify-content-center")
									div(class="advantages__item d-flex justify-content-center align-items-center")
										p
											| Работа день<br>в день
							div(class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="10")
								div(class="advantages__wrap h-100 d-flex align-items-start justify-content-center")
									div(class="advantages__item d-flex justify-content-center align-items-center")
										p
											| Гарантия на работы<br>1 год
							div(class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
								div(class="advantages__wrap h-100 d-flex align-items-center justify-content-center")
									div(class="advantages__item d-flex justify-content-start align-items-center")
										p
											| Договор<br>на дому
				section(class="free d-flex align-items-center")
					div(class="container")
						div(class="row align-items-center py-5 wow bounce" data-wow-duration="2s" data-wow-delay="0.2s" data-wow-offset="10")
							div(class="col-12 col-lg-7 p-lg-0")
								form(class="form")
									h2(class="pb-5")
										| Запишитесь<br>на бесплатную диагностику
									input(type="text" class="mb-5 mt-3" placeholder="Имя*")
									input(type="tel" class="mb-5" placeholder="Телефон*")
									div(class="d-flex align-items-start justify-content-center pt-3 pr-lg-5")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Я согласен на обработку персональных данных в соответствие с 
											a(href="#" class="form__info")
												| политикой конфиденциальности
									div(class="d-flex justify-content-start w-100")
										button(class="btn btn__flare_infinite" )
											| Записаться
					img(class="d-none lazyload img-fluid free__img " data-src="img/image2.1.png" alt="img")
					img(class="d-none lazyload img-fluid free__img free__pero rellax" data-rellax-speed="0.3" data-src="img/pero.png" alt="img")
					img(class="d-none lazyload img-fluid free__img free__pero_2 rellax" data-rellax-speed="0.2" data-src="img/pero.png" alt="img")
				section(id="company")
					div(class="container")
						div(class="row")
							div(class="col-12 pb-5 pb-lg-0 py-lg-5")
								h2(class="text-center")
									| О компании
						div(class="row")
							div(class="fix_second col-12 col-lg-6")
								p
									| Дети любят сидеть у окна. Малыши обожают изучать окружающий мир, маленькие домики и машинки внизу, любят разглядывать людей, разноцветные зонтики, гуляющих собак. Происходящее за стеклом завораживает их и занимает на некоторое время. Дети постарше любят играть на подоконнике, сидеть на нем, рисовать на стеклах. С одной стороны, не хочется лишать детей такой радости, с другой стороны, нередко приходит в голову мысль: «Вдруг малыш выпадет из окна?»
								p
									| Компания БОС обеспечит безопасность вашему ребенку с помощью установки защитного замка. Окно будет закрываться на ключ и ребенок не сможет открыть его при всём желании. 
							div(class="col-12 col-lg-6 fix__third d-flex justify-content-center align-items-center")
								img(class="lazyload" data-src="img/logo.svg" alt="logo img")
				section(class="slider" id="works")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2(class="text-center pb-5")
									| Наши работы
						div(class="row justify-content-center")
							div(class="col-10 col-lg-12 works")
								a(data-fancybox="gallery" href="img/Rectangle10-big.jpg")
									img(class="px-3 img-fluid" src="img/Rectangle10.jpg" alt="img")
								a(data-fancybox="gallery" href="img/Rectangle10.1-big.jpg")
									img(class="px-3 img-fluid" src="img/Rectangle10.1.jpg" alt="img")
								a(data-fancybox="gallery" href="img/Rectangle10.2-big.jpg")
									img(class="px-3 img-fluid" src="img/Rectangle10.2.jpg" alt="img")
								a(data-fancybox="gallery" href="img/Rectangle10-big.jpg")
									img(class="px-3 img-fluid" src="img/Rectangle10.jpg" alt="img")
								a(data-fancybox="gallery" href="img/Rectangle10.1-big.jpg")
									img(class="px-3 img-fluid" src="img/Rectangle10.1.jpg" alt="img")
								a(data-fancybox="gallery" href="img/Rectangle10.2-big.jpg")
									img(class="px-3 img-fluid" src="img/Rectangle10.2.jpg" alt="img")
				section(class="step")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2(class="text-center pb-5")
									| Этапы работы
						div(class="row py-5")
							div(class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft pr-lg-0" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
								img(class=" img-fluid" src="img/1.svg" alt="img")
								p
									| Диагностика в удобное время
							div(class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft px-lg-0" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10")
								img(class=" img-fluid" src="img/2.svg" alt="img")
								p
									| Оценка работ на месте
							div(class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft px-lg-0" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10")
								img(class=" img-fluid" src="img/3.svg" alt="img")
								p
									| Предоплата от 10%
							div(class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft pl-lg-0" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="10")
								img(class=" img-fluid" src="img/4.svg" alt="img")
								p
									| Проведение работ<br>в назначенное<br>вами время
			div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalEmailTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body")
							form(class="form")
								input(type="text" class="mb-4 mt-3" placeholder="Имя*")
								input(type="tel" class="mb-4" placeholder="Телефон*")
								div(class="d-flex align-items-start justify-content-center pt-3")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Я согласен на обработку персональных данных в соответствие с 
										a(href="#" class="form__info")
											| политикой конфиденциальности
								div(class="d-flex justify-content-center w-100")
									button(class="btn btn__flare" type="submit" )
										| Заказать звонок
			div(class="modal fade" id="modalCheck" tabindex="-1" role="dialog" aria-labelledby="modalEmailTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body")
							form(class="form")
								input(type="text" class="mb-4 mt-3" placeholder="Имя*")
								input(type="tel" class="mb-4" placeholder="Телефон*")
								div(class="d-flex align-items-start justify-content-center pt-3")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Я согласен на обработку персональных данных в соответствие с 
										a(href="#" class="form__info")
											| политикой конфиденциальности
								div(class="d-flex justify-content-center w-100")
									button(class="btn btn__flare" type="submit" )
										| Заказать
			div(class="modal fade" id="modalWrite" tabindex="-1" role="dialog" aria-labelledby="modalEmailTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body")
							form(class="form")
								input(type="text" class="mb-4 mt-3" placeholder="Имя*")
								input(type="tel" class="mb-4" placeholder="Телефон*")
								div(class="d-flex align-items-start justify-content-center pt-3")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Я согласен на обработку персональных данных в соответствие с 
										a(href="#" class="form__info")
											| политикой конфиденциальности
								div(class="d-flex justify-content-center w-100")
									button(class="btn btn__flare" type="submit" )
										| Записаться
			div(class="btn_to_top")
				div(class="btn_to_top_content d-flex justify-content-center align-items-center")
					<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
						<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
							<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
								<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
							</g>
						</g>
					</svg>
			footer(class="footer  py-5")
				div(class="container ")
					div(class="row justify-content-between align-items-center")
						div(class="footer__logo d-flex align-items-end ")
							img(class="lazyload" data-src="img/logo.svg" alt="logo")
							div(class="pl-2")
								span
									| Белый<br>Оконный<br>Сервис
						div(class="social d-flex justify-content-center")
							a(href="#")
								img(class="lazyload" data-src="img/entypo-social_youtube-with-circle.svg" alt="img")
							a(href="#")
								img(class="lazyload px-3" data-src="img/entypo-social_instagram-with-circle.svg" alt="img")
							a(href="#")
								img(class="lazyload" data-src="img/entypo-social_vk-with-circle.svg" alt="img")
						a(class="deksis d-flex align-items-center justify-content-end" href="https://deksis.ru/")
							img(class="lazyload" data-src="img/deksis.svg" alt="img")
							span(class="d-block pl-3")
								| Создание сайта Deksis.ru
			script(src="js/main.min.js")

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <title>New project</title>
  </head>
  <body>
    <div class="page">
      <header class="pb-1">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0">
                <div class="d-flex align-items-end navbar_wrap_logo"><a class="navbar-brand d-flex align-items-end" href="#"><img class="lazyload" data-src="img/logo.svg" alt="logo">
                    <div class="pl-2"><span>Белый<br>Оконный<br>Сервис</span></div></a></div>
                <div class="collapse navbar-collapse" id="navbar">
                  <ul class="navbar-nav w-100 d-flex justify-content-center pt-5 pt-lg-0">
                    <li class="active nav-item"><a class="nav-link" href="#Services">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="#company">О компании</a></li>
                    <li class="nav-item"><a class="nav-link" href="#works">Наши работы</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                  </ul>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-none d-lg-flex align-items-center"><a class="header__phone" href="tel:89823125260">8 982 312 52 60</a>
                    <button class="btn btn_border_white ml-3 btn__flare_infinite" data-toggle="modal" data-target="#modalCall">Заказать звонок</button>
                  </div>
                  <button class="navbar-toggler ml-3 " type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation"><svg class="burger" width="41" height="30" viewBox="0 0 41 30" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="41" height="2" rx="1" fill="#fff"/><rect y="14" width="41" height="2" rx="1" fill="#fff"/><rect y="28" width="41" height="2" rx="1" fill="#fff"/></svg></button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="welcome">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-lg-6 p-lg-0">
                <h1>Ремонт окон ПВХ</h1>
                <p class="py-5">После нас не надо переделывать</p>
                <button class="btn btn__flare" data-toggle="modal" data-target="#modalCheck">Заказать</button>
              </div>
              <div class="col-12 col-lg-6 py-4"><img class="lazyload img-fluid" data-src="img/win.png" alt="img"></div>
            </div>
          </div>
          <div class="cloud"></div>
        </div>
        <section class="calc" id="Services">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="pb-3">Выберите свою неисправность</h2>
                <p class="description__short pb-3 pb-lg-0">Выберите свою проблему и мы предложим вам решение</p>
              </div>
            </div>
            <form class="row form form_submit">
              <div class="calc__first  col-12 col-lg-5 p-lg-0">
                <div class="calc__preview"><img class="lazyload img-fluid" data-src="img/win2.png" alt="img"></div>
              </div>
              <div class="calc__second col-12 col-lg-7 p-lg-0 d-flex justify-content-between">
                <div class="d-flex align-items-start justify-content-start flex-column pt-lg-4">
                  <label class="btn_calc" data-img-src="" data-id="" data-price="2500">Неисправность механизма
                    <input type="checkbox" name="Neispravnostmekhanizma">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/produvaet.png" data-id="3" data-price="100">Продувает окно
                    <input type="checkbox" name="produvaet">
                  </label>
                  <label class="btn_calc" data-img-src="" data-id="" data-price="300">Регулировка створки
                    <input type="checkbox" name="regulirovkastvorki">
                  </label>
                  <label class="btn_calc active" data-img-src="" data-id="" data-price="300">Не поворачивается ручка
                    <input type="checkbox" name="nepovorachivaetsyaruchka">
                  </label>
                  <label class="btn_calc" data-img-src="" data-id="" data-price="300">Замена ручки
                    <input type="checkbox" name="zamenaruchki">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/zamenasteklo.png" data-id="6" data-price="1400">Замена стеклопакета
                    <input type="checkbox" name="zamenasteklo">
                  </label>
                  <label class="btn_calc" data-img-src="" data-id="" data-price="150">Герметизация шва (откос, рама)
                    <input type="checkbox" name="germetizaciyashva">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/zapotevanie.png" data-id="7" data-price="1300">Запотевание окна
                    <input type="checkbox" name="zapotevanie">
                  </label>
                </div>
                <div class="d-flex align-items-start justify-content-start flex-column pt-lg-4">
                  <label class="btn_calc" data-img-src="img/mod/promerzanie.png" data-id="4" data-price="1300">Промерзание окна
                    <input type="checkbox" name="promerzanie">
                  </label>
                  <label class="btn_calc" data-img-src="" data-id="" data-price="2000">Замена подоконника
                    <input type="checkbox" name="zamenapodokonnika">
                  </label>
                  <label class="btn_calc" data-img-src="" data-id="" data-price="3000">Замена откосов
                    <input type="checkbox" name="zamenaotkosov">
                  </label>
                  <label class="btn_calc active" data-img-src="" data-id="" data-price="200">Шумоизоляция окна
                    <input type="checkbox" name="shumoizolyaciyaokna">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/ventilyatsiya.png" data-id="5" data-price="1500">Установка вентиляционного клапана
                    <input type="checkbox" name="ventilyatsiya">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/detskizamok.png" data-id="1" data-price="900">Детский замок
                    <input type="checkbox" name="detskizamok">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/holodniapodokonnik.png" data-id="2" data-price="1300">Холодный подоконник
                    <input type="checkbox" name="holodniapodokonnik">
                  </label>
                  <label class="btn_calc" data-img-src="img/mod/setka.png" data-id="8" data-price="1000">Москитная сетка
                    <input type="checkbox" name="setka">
                  </label>
                </div>
              </div>
              <div class="calc__third col-12 d-flex justify-content-between">
                <div class="col-12 col-lg-8 pl-lg-0 pt-3 ">
                  <p>* Обращаем Ваше внимание на то, что стоимость на сайте примерная, так как все окна разные и к каждому нужен свой материал и объёмы материала.</p>
                  <p>Чтобы узнать точную стоимость ремонта, запишитесь на <a href="#">бесплатный замер.</a></p>
                </div>
                <div class="col-12 col-lg-4 d-flex flex-column justify-content-between p-0">
                  <div>
                    <div class="d-flex justify-content-between align-items-center pb-3"><span class="calc__value pr-3">Итого:</span>
                      <div class="calc__price"><span class="calc__price__value">3 800 </span><span>₽*</span></div>
                    </div>
                    <input class="mb-4 mt-3" type="text" placeholder="Имя*">
                    <input class="mb-4" type="tel" placeholder="Телефон*">
                    <div class="d-flex align-items-start justify-content-center pt-3">
                      <label class="m-0">
                        <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                      </label>
                      <p class="form__info">Я согласен на обработку персональных данных в соответствие с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                      <button class="btn btn__flare" type="submit">Записаться</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="row fix pb-5">
              <div class="col-12">
                <h2 class="text-center">Безопасное окно</h2>
              </div>
            </div>
            <div class="fix_second row py-0 py-lg-5">
              <div class="fix_fir col-12 col-lg-6 pb-3 pb-lg-0">
                <h3>Защитите своих детей,<br>установив защитный замок</h3>
                <p>Дети любят сидеть у окна. Малыши обожают изучать окружающий мир, маленькие домики и машинки внизу, любят разглядывать людей, разноцветные зонтики, гуляющих собак. Происходящее за стеклом завораживает их и занимает на некоторое время. Дети постарше любят играть на подоконнике, сидеть на нем, рисовать на стеклах. С одной стороны, не хочется лишать детей такой радости, с другой стороны, нередко приходит в голову мысль: «Вдруг малыш выпадет из окна?»</p>
                <p>Компания БОС обеспечит безопасность вашему ребенку с помощью установки защитного замка. Окно будет закрываться на ключ и ребенок не сможет открыть его при всём желании. </p>
                <button class="btn btn__flare mt-5" data-toggle="modal" data-target="#modalWrite">Записаться</button>
              </div>
              <div class="col-12 col-lg-6 fix_sec"><img class="lazyload img-fluid" data-src="img/baby.jpg" alt="img">
                <p class="pt-3">Москитная сетка не убережет ребенка от падения. Никогда не позволяйте ребенку играть на подоконнике или рядом с открытым окном.</p>
              </div>
            </div>
            <!--div(class="row py-5")
            div(class="col-12 col-lg-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10" )
            	div(class="fix__item p-5 text-center d-flex flex-column align-items-center justify-content-between")
            		div()
            			img(class="lazyload img-fluid" data-src="img/window.svg" alt="img")
            			span(class="d-block fix__header pt-3 pb-4")
            				| Окна
            		div
            			ul
            				li
            					| Ремонт окон ПВХ
            				li
            					| Замена подоконника
            				li
            					| Замена стеклопакета
            				li
            					| Дует из окна
            				li
            					| Запотевание и замерзание
            				li
            					| Провисание створок
            				li
            					| Регулировка окон
            			div(class="d-flex justify-content-center")
            				button(class="btn btn__flare" data-toggle="modal" data-target="#modalEmail")
            					| Связаться
            div(class="col-12 col-lg-4  wow slideInLeft" data-wow-duration="1s"  data-wow-offset="10")
            	div(class="fix__item p-5 text-center d-flex flex-column align-items-center justify-content-between")
            		div()
            			img(class="lazyload img-fluid" data-src="img/window.svg" alt="img")
            			span(class="d-block fix__header pt-3 pb-4")
            				| Балконные двери
            		div
            			ul
            				li
            					| Ремонт окон ПВХ
            				li
            					| Замена подоконника
            				li
            					| Замена стеклопакета
            				li
            					| Дует из окна
            				li
            					| Запотевание и замерзание
            				li
            					| Провисание створок
            				li
            					| Регулировка окон
            			div(class="d-flex justify-content-center")
            				button(class="btn btn__flare" data-toggle="modal" data-target="#modalEmail")
            					| Связаться
            div(class="col-12 col-lg-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10" )
            	div(class="fix__item p-5 text-center d-flex flex-column align-items-center justify-content-between")
            		div()
            			img(class="lazyload img-fluid" data-src="img/window.svg" alt="img")
            			span(class="d-block fix__header pt-3 pb-4")
            				| Остекление от строителей
            		div
            			ul
            				li
            					| Ремонт окон ПВХ
            				li
            					| Замена подоконника
            				li
            					| Замена стеклопакета
            				li
            					| Дует из окна
            				li
            					| Запотевание и замерзание
            				li
            					| Провисание створок
            				li
            					| Регулировка окон
            			div(class="d-flex justify-content-center")
            				button(class="btn btn__flare" data-toggle="modal" data-target="#modalEmail")
            					| Связаться
            -->
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="py-5 text-center">Сервисное обслуживание</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6"><img class="lazyload img-fluid" data-src="img/win.jpg" alt="img"></div>
              <div class="fix_second col-12 col-lg-6">
                <h3>Защитите своих детей,<br>установив защитный замок</h3>
                <p>Все виды окон рано или поздно изнашиваются и нуждаются в ремонте или замене. И так же, как профилактика – это залог здоровья, обнаружение дефектов окон и их устранение – залог их долгой службы и комфортной атмосферы в вашем доме и офисе. Если вам нужна установка и ремонт пластиковых окон в Челябинске, то самым лучшим решением станет обращение к нам</p><span class="d-block fix__price">от 500 ₽</span>
                <button class="btn btn__flare mt-5" data-toggle="modal" data-target="#modalCheck">Заказать</button>
              </div>
            </div>
          </div>
        </section>
        <section class="advantages">
          <div class="container">
            <div class="row pb-5">
              <div class="col-12">
                <h2 class="text-center">Наши преимущества</h2>
              </div>
            </div>
            <div class="row py-4">
              <div class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10">
                <div class="advantages__wrap h-100 d-flex align-items-start justify-content-center">
                  <div class="advantages__item d-flex justify-content-center align-items-center">
                    <p>Бесплатное сервисное<br>обслуживание</p>
                  </div>
                </div>
              </div>
              <div class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10">
                <div class="advantages__wrap h-100 d-flex align-items-start justify-content-center">
                  <div class="advantages__item d-flex justify-content-center align-items-center">
                    <p>Работа день<br>в день</p>
                  </div>
                </div>
              </div>
              <div class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="10">
                <div class="advantages__wrap h-100 d-flex align-items-start justify-content-center">
                  <div class="advantages__item d-flex justify-content-center align-items-center">
                    <p>Гарантия на работы<br>1 год</p>
                  </div>
                </div>
              </div>
              <div class="pb-4 pb-lg-0 col-6 col-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10">
                <div class="advantages__wrap h-100 d-flex align-items-center justify-content-center">
                  <div class="advantages__item d-flex justify-content-start align-items-center">
                    <p>Договор<br>на дому</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="free d-flex align-items-center">
          <div class="container">
            <div class="row align-items-center py-5 wow bounce" data-wow-duration="2s" data-wow-delay="0.2s" data-wow-offset="10">
              <div class="col-12 col-lg-7 p-lg-0">
                <form class="form">
                  <h2 class="pb-5">Запишитесь<br>на бесплатную диагностику</h2>
                  <input class="mb-5 mt-3" type="text" placeholder="Имя*">
                  <input class="mb-5" type="tel" placeholder="Телефон*">
                  <div class="d-flex align-items-start justify-content-center pt-3 pr-lg-5">
                    <label class="m-0">
                      <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                    </label>
                    <p class="form__info">Я согласен на обработку персональных данных в соответствие с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                  </div>
                  <div class="d-flex justify-content-start w-100">
                    <button class="btn btn__flare_infinite">Записаться</button>
                  </div>
                </form>
              </div>
            </div>
          </div><img class="d-none lazyload img-fluid free__img " data-src="img/image2.1.png" alt="img"><img class="d-none lazyload img-fluid free__img free__pero rellax" data-rellax-speed="0.3" data-src="img/pero.png" alt="img"><img class="d-none lazyload img-fluid free__img free__pero_2 rellax" data-rellax-speed="0.2" data-src="img/pero.png" alt="img">
        </section>
        <section id="company">
          <div class="container">
            <div class="row">
              <div class="col-12 pb-5 pb-lg-0 py-lg-5">
                <h2 class="text-center">О компании</h2>
              </div>
            </div>
            <div class="row">
              <div class="fix_second col-12 col-lg-6">
                <p>Дети любят сидеть у окна. Малыши обожают изучать окружающий мир, маленькие домики и машинки внизу, любят разглядывать людей, разноцветные зонтики, гуляющих собак. Происходящее за стеклом завораживает их и занимает на некоторое время. Дети постарше любят играть на подоконнике, сидеть на нем, рисовать на стеклах. С одной стороны, не хочется лишать детей такой радости, с другой стороны, нередко приходит в голову мысль: «Вдруг малыш выпадет из окна?»</p>
                <p>Компания БОС обеспечит безопасность вашему ребенку с помощью установки защитного замка. Окно будет закрываться на ключ и ребенок не сможет открыть его при всём желании. </p>
              </div>
              <div class="col-12 col-lg-6 fix__third d-flex justify-content-center align-items-center"><img class="lazyload" data-src="img/logo.svg" alt="logo img"></div>
            </div>
          </div>
        </section>
        <section class="slider" id="works">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center pb-5">Наши работы</h2>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-10 col-lg-12 works"><a data-fancybox="gallery" href="img/Rectangle10-big.jpg"><img class="px-3 img-fluid" src="img/Rectangle10.jpg" alt="img"></a><a data-fancybox="gallery" href="img/Rectangle10.1-big.jpg"><img class="px-3 img-fluid" src="img/Rectangle10.1.jpg" alt="img"></a><a data-fancybox="gallery" href="img/Rectangle10.2-big.jpg"><img class="px-3 img-fluid" src="img/Rectangle10.2.jpg" alt="img"></a><a data-fancybox="gallery" href="img/Rectangle10-big.jpg"><img class="px-3 img-fluid" src="img/Rectangle10.jpg" alt="img"></a><a data-fancybox="gallery" href="img/Rectangle10.1-big.jpg"><img class="px-3 img-fluid" src="img/Rectangle10.1.jpg" alt="img"></a><a data-fancybox="gallery" href="img/Rectangle10.2-big.jpg"><img class="px-3 img-fluid" src="img/Rectangle10.2.jpg" alt="img"></a></div>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center pb-5">Этапы работы</h2>
              </div>
            </div>
            <div class="row py-5">
              <div class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft pr-lg-0" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10"><img class=" img-fluid" src="img/1.svg" alt="img">
                <p>Диагностика в удобное время</p>
              </div>
              <div class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft px-lg-0" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10"><img class=" img-fluid" src="img/2.svg" alt="img">
                <p>Оценка работ на месте</p>
              </div>
              <div class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft px-lg-0" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10"><img class=" img-fluid" src="img/3.svg" alt="img">
                <p>Предоплата от 10%</p>
              </div>
              <div class="step__item pb-4 pb-lg-0 col-12 col-md-6 col-lg-3 d-flex align-items-center wow fadeInLeft pl-lg-0" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="10"><img class=" img-fluid" src="img/4.svg" alt="img">
                <p>Проведение работ<br>в назначенное<br>вами время</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalEmailTitle" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-end">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="form">
                <input class="mb-4 mt-3" type="text" placeholder="Имя*">
                <input class="mb-4" type="tel" placeholder="Телефон*">
                <div class="d-flex align-items-start justify-content-center pt-3">
                  <label class="m-0">
                    <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                  </label>
                  <p class="form__info">Я согласен на обработку персональных данных в соответствие с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                </div>
                <div class="d-flex justify-content-center w-100">
                  <button class="btn btn__flare" type="submit">Заказать звонок</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalCheck" tabindex="-1" role="dialog" aria-labelledby="modalEmailTitle" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-end">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="form">
                <input class="mb-4 mt-3" type="text" placeholder="Имя*">
                <input class="mb-4" type="tel" placeholder="Телефон*">
                <div class="d-flex align-items-start justify-content-center pt-3">
                  <label class="m-0">
                    <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                  </label>
                  <p class="form__info">Я согласен на обработку персональных данных в соответствие с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                </div>
                <div class="d-flex justify-content-center w-100">
                  <button class="btn btn__flare" type="submit">Заказать</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalWrite" tabindex="-1" role="dialog" aria-labelledby="modalEmailTitle" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-end">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="form">
                <input class="mb-4 mt-3" type="text" placeholder="Имя*">
                <input class="mb-4" type="tel" placeholder="Телефон*">
                <div class="d-flex align-items-start justify-content-center pt-3">
                  <label class="m-0">
                    <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                  </label>
                  <p class="form__info">Я согласен на обработку персональных данных в соответствие с <a class="form__info" href="#">политикой конфиденциальности</a></p>
                </div>
                <div class="d-flex justify-content-center w-100">
                  <button class="btn btn__flare" type="submit">Записаться</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_to_top">
        <div class="btn_to_top_content d-flex justify-content-center align-items-center"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
</g>
</g>
</svg>
        </div>
      </div>
      <footer class="footer  py-5">
        <div class="container ">
          <div class="row justify-content-between align-items-center">
            <div class="footer__logo d-flex align-items-end "><img class="lazyload" data-src="img/logo.svg" alt="logo">
              <div class="pl-2"><span>Белый<br>Оконный<br>Сервис</span></div>
            </div>
            <div class="social d-flex justify-content-center"><a href="#"><img class="lazyload" data-src="img/entypo-social_youtube-with-circle.svg" alt="img"></a><a href="#"><img class="lazyload px-3" data-src="img/entypo-social_instagram-with-circle.svg" alt="img"></a><a href="#"><img class="lazyload" data-src="img/entypo-social_vk-with-circle.svg" alt="img"></a></div><a class="deksis d-flex align-items-center justify-content-end" href="https://deksis.ru/"><img class="lazyload" data-src="img/deksis.svg" alt="img"><span class="d-block pl-3">Создание сайта Deksis.ru</span></a>
          </div>
        </div>
      </footer>
      <script src="js/main.min.js"></script>
    </div>
  </body>
</html>
